.contentWrap.charactersSection(ng-controller="charactorController")
	h2.sectionHeadline キャラクターマネージャー
	.charaListBlock(ng-controller="charaListController" ng-show="viewList")
		.charaListHeader
			button(type="button" class="btnBase primary block" ng-click="charaRegist()") 新規作成
		.charaListContent
			ul(ng-if="characters.length != 0" ng-repeat='character in characters')
				li
					.id
					.jobIcon
					.job
						.nickname
						.mainJob
					.name
					.race
					.status
					.delete
						button(type=button) 削除
			p(ng-if="characters.length == 0").emptyResult キャラクターデータがありません。<br>キャラクターを作成してください。
	.charaEditBlock(ng-controller="charaEditController" ng-show="viewEdit")
		form.formWrap
			p ID:{{models.characters.length}}
			dl
				dt 名前
				dd
					input(type="text" name="name")
			dl
				dt 種族
				dd
					ul.formList
						li(ng-repeat="race in races")
							label
								input(type="radio" name="race" value="{{race.id}}")
								|{{race.name}}
			dl
				dt 職業
				dd
					ul.formList
						li(ng-repeat="job in jobs")
							label
								input(type="radio" name="job" value="{{job.id}}")
								|{{job.ja}}
			dl
				dt 二つ名
				dd
					ul.formList
						li(ng-repeat="nickname in nicknames")
							label
								input(type="radio" name="nickname" value="{{nickname.id}}")
								|{{nickname.name}}
			dl
				dt Lv
				dd
					input(type="number" name="leavel")
			dl
				dt コメント
				dd
					textarea(type="text" name="comment")
			.submitArea
				button(type="submit") 作成
	.charaSkillBlock(ng-controller="charaSkillController" ng-show="viewSkill")
