.contentWrap.introSection
	h2.sectionHeadline これはなに？
	p.lead 世界樹の迷宮5にてパーティ編成中に所持スキルが見えないという致命的欠陥が使い悪すぎるので、それをサポートするコンテンツです。
	h2.sectionHeadline どうやって使うの？
	p.lead キャラクターマネージャーでキャラクターを作成し、スキルを登録します。
	p.lead パーティマネージャーでキャラクターを登録するとパーティ内で取得しているスキルを一覧化して見れます。
	h2.sectionHeadline データの保存とかはどうなってるの？
	p.lead ブラウザーに直接保存しています。そのためスマホ、PC間でのやりとりはできません。
	p.lead ローカルストレージがクリアされると登録データはすべて消えます。
	p.lead サーバーに情報は保存されないため、URL共有などはできません。
	h2.sectionHeadline 実装予定リスト
	ul.updatelist
		li 定義ファイルの作成
		li セーブブロックの作成
		li キャラ登録・保存
		li キャラ一覧・編集・削除
		li コンテンツ毎ルーティング設定
		li パーティ登録・保存
		li パーティ一覧・編集・削除
		li スキル一覧作成
		li セーブブロックの切り替え機能作成
	p.read 
		|当WEBコンテンツのソースはGithubにて公開されています。 
		a(href="https://github.com/wizardry/sq5_member_manage" target="_blank") Github
